{% extends 'student/stu_menu.html' %}
{% block title %} {{assignments.0.classroom.class_name}}{% endblock %}
{% block body %}
{% block stlye  %}
<style>
/* Add custom styling to the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    text-align: center;
    padding: 8px;
}
td{
    white-space:nowrap;
}
th {
    background-color: #4CAF50;
    color: white;
    white-space: nowrap;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.view_submission{
    color:green; 
 }
 .view_submission:hover {
     background-color: #1DB954;
     color:#fff
 }
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  table {
        font-size: 14px;
    }
}
@media only screen and (max-width: 576px) {
   
    table {
        font-size: 10px;
    }
    .card{
        width:90%;
    }
}
</style>
{% endblock  %}
<!-- Table -->
<div class="container">
<div class="col-md-12">
    <div class="row">
        <div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Total Marks</th>
            <th colspan="2">File</th>
            <th>Due Date</th>
            <th></th>
            <th></th>
            <th></th>
           
       
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.assign_name}}</td>
            <td>{{ assignment.assign_desc }}</td>
            <td>{{ assignment.assign_marks }}</td>

            <td> <a href="{{ assignment.assign_file.url }}" class="btn btn-success size" download><i class="fas fa-download"></i></a></td>
            <td><a href="{{ assignment.assign_file.url }}"  class="btn btn-success size" target="_blank"><i class="fa-solid fa-eye"></i></a></td>
            
            <td style="color:red">{{assignment.assign_deadline}}<td>
            <td> <a href="/stu_dashboard/classroom_dashboard/{{assignment.assign_id}}/assignment_submission/{{assignment.classroom_id}}" class="btn view_submission">Submit Assigment</a></td>
            <td> <a href="/stu_dashboard/classroom_dashboard/{{assignment.assign_id}}/assignment_submission/{{assignment.classroom_id}}/view_assignment_result" class="btn view_submission">View Result</a></td>    
      
        {%empty%}
        <td></td>
        <td></td>
        <td>No Assignment Uploaded 🥳</td>
        <td></td>
        <td><td>
        <td></td>
        <td></td>    
    </tr>
            {% endfor %}
        </tbody>
    </div>
    </table>

                    
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}