{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="{%static 'sidebar_css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'sidebar_css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{%static 'sidebar_css/style.css' %}">

    {% block link %} {% endblock %}
    

    <style>
        html {
            scroll-behavior: smooth;
          }
       body {
              overflow-x:hidden;
              }
      
          .nav_bg {
            background-color: #1DB954;
          }
          .notification-container {
            position: relative;
            display: inline-block;
        }
        
        .notification-dropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #fff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          overflow: hidden;
          width: 240px;
          max-height: 200px; /* Set a maximum height for the dropdown */
          overflow-y: auto; /* Add scrollbar when content overflows */
          z-index: 1; /* Set a higher z-index to ensure it appears above other elements */
      }
      p{
        color: black;
      }
        .notification-item {
            padding: 12px;
            border-bottom: 1px solid #e0e0e0;
            transition: background-color 0.3s;
        }
        
        .notification-item:last-child {
            border-bottom: none;
        }
        
        .notification-item:hover {
            background-color: #f5f5f5;
        }
        
        .notification-container:hover .notification-dropdown {
            display: block;
        }
        .notification-dot {
          position: relative;
          display: inline-block;
      }
  
      .notification-dot::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 7px;
          height: 7px;
          background-color: red;
          border-radius: 50%;
      }
      .pointer {
        cursor: pointer;
      }
    </style>
    {% block style %} {% endblock %}
  </head>
  <body>
    <!-- Top Bar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <a class="navbar-brand" href="/stu_dashboard/">
            <img src="{% static 'logo/zu_logo_rounded2.jpg'%}" width="30" height="30"
                class="d-inline-block align-top rounded-circle" alt="Logo">
          <span style="color:green;"><b>Ziauddin University</b> </span>
        </a>
        <div class="notification-container">
          <div {%if unread_notifications %} class="notification-dot" {%endif%}>
            <i class="fas fa-bell pointer" id="notification-icon"></i>
        </div>
         
        <div class="notification-dropdown" id="notification-dropdown">
          <div class="notification-item">
              {% if notifications %}
              
              {% for notification in notifications %}
                  {% comment %} {% if notification.is_read == False %}
                      <p style='color: blue'> new {{notification.content_type}} uploaded in {{notification.classroom}} classroom <b>({{notification.created_at}})</b></p>
                  {% else %}
                      <p style='color: black'> new {{notification.content_type}} uploaded in {{notification.classroom}} classroom <b>({{notification.created_at}})</b></p>
                  {% endif %} {% endcomment %}
                  <p style='color: black'> new {{notification.content_type}} uploaded in {{notification.classroom}} classroom <b>({{notification.created_at}})</b></p>
              {% endfor %}
              {% else %}
              <p style="color:black">No Notifications yet!</p>
              {% endif %}
          </div>
      </div>
      </div>
      
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% comment %} <img src="https://via.placeholder.com/40x40" width="30" height="30"
                        class="d-inline-block align-top rounded-circle" alt="Profile Picture"> {% endcomment %}
                        <img src="{{stu_data.0.student_img.url}}" alt="{{stu_data.0.student_name}}" class="img-fluid mt-2 rounded-circle " style="width:25px">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  {%if stu_data%}
                  <a class="dropdown-item" href="/stu_dashboard/stu_profile"><i class="fa-sharp fa-solid fa-address-card"></i> Profile </a>
                  <a class="dropdown-item" href="/logout/"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                  {%else%}
                  <a class="dropdown-item" href="/logout/"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </div>
                {%endif%}
            </li>
        </ul>
    </nav>
<aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
<div class="side-inner">
      {% if stu_data %}
        <div class="profile">
            <img src="{{stu_data.0.student_img.url}}" alt="{{stu_data.0.student_name}}" class="img-fluid mt-2 rounded-circle ">
            <h3 class="name" style="font-family: 'Lilita One', cursive;">{{fac_data.0.fac_name}}</h3>
            <h6 class="text-muted mt-1" style="font-size:15px; font-family: 'Lilita One', cursive;">{{ stu_data.0.student_depart}} Department </h6>
            {% comment %} <h6 class="text-muted" style="font-size:15px; font-family: 'Lilita One', cursive;">{{ stu_data.0.student_depart_prog}} Programme </h6> {% endcomment %}
            {% comment %} <h6 class="text-muted"style="font-size:13px; font-family: 'Lilita One', cursive;">{{ stu_data.0.student_email }}</h6> {% endcomment %}
        </div>

     
        <div class="nav-menu">
          <ul class="list-unstyled components">
            <li class="nav-item {% if request.path == '/stu_dashboard/' %}active{% endif %}">
              <a class="nav-link" href="/stu_dashboard/"><i class="fas fa-home"></i>&nbsp Dashboard</a>
            </li>
  
            <li class="nav-item dropdown {% if request.path == '/stu_dashboard/join_classroom' or request.path == '/stu_dashboard/classroom_dashboard' %}active{% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="classroomDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fa-sharp fa-solid fa-users"></i>&nbsp Classroom</a>
              <div class="dropdown-menu" aria-labelledby="classroomDropdown">
                <a class="dropdown-item" href="/stu_dashboard/join_classroom" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-plus"></i> Join Classroom</a>
                <a class="dropdown-item" href="/stu_dashboard/classroom_dashboard" style="white-space: nowrap;"><i class="fa fa-building-columns"></i> Classroom Dashboard</a>
              </div>
            </li>
  
            <li class="nav-item {% if request.path == '/stu_dashboard/attendance/' %}active{% endif %}">
              <a class="nav-link" href="/stu_dashboard/attendance_view"><i class="fa-regular fa-calendar"></i> &nbsp Attendance</a>
            </li>
  
            <li class="nav-item {% if request.path == '/stu_dashboard/result_view' %}active{% endif %}">
              <a class="nav-link" href="/stu_dashboard/result_view"><i class="fa-solid fa-envelope-open-text"></i>&nbsp Result</a>
            </li>
  
          </ul>
        </div>
      </div>
    </aside>
    {%else%}
    <div class="profile">
        <img src="{%static 'user.png' %}" alt="Student name" class="img-fluid mt-2 ">
        <h3 class="name">Student Name</h3>
        <h6 class="text-muted mt-1">Department </h6>
        <h6 class="text-muted">Email</h6>
    </div>
    <div class="nav-menu">
        <ul>
            <li class="nav-item {% if request.path == '/stu_dashboard/' %}active{% endif %}">
              <a class="nav-link" href="/stu_dashboard/"><i class="fas fa-home"></i> Dashboard</a>
            </li>
           
      </ul>
    </div>
  </div>
</aside>
{%endif%}

<main>

  <div class="container-fluid">
    <div class="justify-content-center">

      {%block body%} {%endblock%}
    </div>
  </div>

</main>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Join Classroom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="/stu_dashboard/join_classroom" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <label for="exampleInputPassword1">Class Code</label>
            <input type="text" name="classroom_code" class="form-control" id="exampleInputPassword1" placeholder="Class Code" required>
          </div>
          <button type="submit" class="btn btn-success">Join Classroom</button>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

  <script src="{%static 'js/main.js' %}"></script>

  <script>
    document.getElementById('notification-icon').addEventListener('click', function () {
        var dropdown = document.getElementById('notification-dropdown');
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    });
</script>

  
</body>

</html>